// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red {
  background: red;
}

.green {
  background: green;
}

.status {
  width: 15px;
  height: 15px;
  display: inline-block;
}
